<div class="header">
  <mat-toolbar>
    <div class="header-content">
      <div class="logo-content" routerLink="/">
        <img
          src="../../../../assets/images/transparent-piggy.png"
          alt="Savings logo"
        />
        <span>Finances</span>
      </div>
      <p>{{ currentDate }}</p>
      <div class="profile">
        <p
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Profile name button"
        >
          <span>{{ userName }}</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </p>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/settings']">Settings</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</div>
