@import "assets/constants.scss";

.header {
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    height: $distance-32;
    color: #f3f9ed;

    .logo-content {
      cursor: pointer;
      display: flex;
      align-content: center;
      height: $distance-32;

      span {
        padding-top: $distance-4;
        padding-left: $distance-4;
      }
    }

    .mat-menu-trigger {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
