@import "assets/constants.scss";

.delete-modal {
    .action-section {
        display: flex;
        justify-content: space-between;
      }
    
      .delete-information {
        padding: $distance-16 0;
      }
}