<div class="delete-modal">
    <h2 mat-dialog-title>
        {{ data.action }} {{ data.type === dataType.SAVINGS ? "Savings" : "Expenses" }}!
    </h2>

    <p class="delete-information">
        Are you sure you want to delete this data?
    </p>

    <div class="action-section" mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button 
        mat-raised-button 
        color="primary" 
        [mat-dialog-close]="data" 
        cdkFocusInitial
        (click)="deleteInformation()"
        >
            {{ data.action }}
        </button>
    </div>
</div>