<div class="expansion-table">
  <mat-expansion-panel
    [expanded]="
      (title === 'Expenses' && !hasExpensesChanged && !hasSavingsChanged) ||
      (title === 'Expenses' && hasExpensesChanged && !hasSavingsChanged) ||
      (title === 'Savings' && hasSavingsChanged && !hasExpensesChanged)
    "
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title
        [ngStyle]="{ color: title === 'Savings' ? '#2bae66ff' : '#e94b3cff' }"
      >
        {{ title }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="table-filter" appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. date, amount.."
        #input
      />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}.</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date: "dd/MM/yyyy" }}
        </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | currency: "EUR":"symbol-narrow":"1.0-0" }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getTotalCost() | currency: "EUR":"symbol-narrow":"1.0-0" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">
          {{ element.category ? element.category : "-" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element.description ? element.description : "-" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="action" class="action-column">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editInformation(element)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteInformation(element)"
          >
            <mat-icon color="warn">clear</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>

      <tr
        mat-footer-row
        *matFooterRowDef="displayedColumns"
        class="footer"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      [showFirstLastButtons]="true"
      aria-label="Select page"
    ></mat-paginator>
  </mat-expansion-panel>
</div>
