@import "assets/constants.scss";

.expansion-table {
  margin: $distance-48 0;

  .table-filter {
    display: flex;
    justify-content: center;
  }

  table {
    width: 100%;
    box-shadow: none;

    th {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .footer {
      font-weight: bold;
    }

    .mat-column-action {
      width: 110px;
    }

    .action-button {
      width: 10px;
      cursor: pointer;
    }
  }

  .details {
    display: flex;
  }
}
