$palette: (
  25: #f3f9ed,
  50: #E1F5FE,
  100: #B3E5FC,
  200: #81D4FA,
  300: #4FC3F7,
  400: #29B6F6,
  500: #03A9F4,
  600: #039BE5,
  700: #0288D1,
  800: #0277BD,
  900: #01579B,
  A100: #80D8FF,
  A200: #40C4FF,
  A400: #00B0FF,
  A700: #0091EA,
  contrast: (
    25: $dark-primary-text,
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);

$grey-palette: (
  50: #ffffff,
  100: #fafafa,
  150: #f4f4f4,
  200: #eaeaea,
  300: #e1e1e1,
  400: #e9e9e9,
  500: #d3d3d3,
  600: #b2b2b2,
  700: #6f6f6f,
  800: #424242,
  900: #282828,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$alert-palette: (
  50: #5CB3FF,
  100: #ff543c,
  200: #e3000f,
  300: #a80000,
  400: #c8f456,
  500: #94c11c,
  600: #619000,
  700: #ffec4d,
  800: #fbba00,
  900: #c38a00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text
  )
);