@use '~@angular/material' as mat;
// @import "palettes";

@import "mixins/header";

@include mat.core();

// $theme-primary: mat.define-palette($palette, 500, 300, 700);
// $theme-accent: mat.define-palette($palette, A200, A100, A400);

$theme-primary: mat.define-palette(mat.$indigo-palette, 500);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme($theme-primary, $theme-accent, $theme-warn);

@include mat.all-component-themes($theme);

.theme {
  @include app-header($theme);

  .expansion-table {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }

  .table-filter .mat-form-field-wrapper {
    width: 30%;
  }
}
