<div class="settings">
  <div class="users">
    <div class="input">
      <h1>Users</h1>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="user.firstName" placeholder="First name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="user.secondName" placeholder="Second name">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="saveUser()">Save user info</button>
      <hr>
    </div>
    <div *ngFor="let user of users">
      <p>First name: {{user.firstName}}</p>
      <p>Second name: {{user.secondName}}</p>
      <hr>
    </div>
  </div>

  <div class="printers">
    <h1>Printers</h1>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="printer.name" placeholder="Printer name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="printer.trey" placeholder="Printer trey">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="savePrinter()">Save printer info</button>
    <hr>
    <div *ngFor="let printer of printers">
      <p>Printer name: {{printer.name}}</p>
      <p>Printer trey: {{printer.trey}}</p>
      <hr>
    </div>
  </div>
</div>