<div class="savings-expenses-modal">
  <div>
    <h1 mat-dialog-title>
      {{ data.action }} {{ data.type === dataType.SAVINGS ? "Savings" : "Expenses" }}!
    </h1>
    <div mat-dialog-content>
      <p *ngIf="data.action !== actionType.EDIT" class="toggle-button">
        <mat-button-toggle-group aria-label="Toggle savings or expenses">
          <mat-button-toggle
            class="savings"
            value="savings"
            [checked]="data.type === dataType.SAVINGS"
            (click)="checkOption(dataType.SAVINGS)"
            >Savings</mat-button-toggle
          >
          <mat-button-toggle
            class="expenses"
            value="expenses"
            [checked]="data.type === dataType.EXPENSES"
            (click)="checkOption(dataType.EXPENSES)"
            >Expenses</mat-button-toggle
          >
        </mat-button-toggle-group>
      </p>

      <form #form="ngForm">
        <p>Select a date</p>
        <mat-form-field appearance="fill" (click)="picker.open()">
          <mat-label>Choose a date</mat-label>
          <input
            [(ngModel)]="data.date"
            matInput
            [matDatepicker]="picker"
            name="date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p>Add an amount</p>
        <mat-form-field appearance="fill">
          <mat-label>Amount...</mat-label>
          <input
            required
            cdkFocusInitial
            type="number"
            matInput
            [(ngModel)]="data.amount"
            name="amount"
          />
        </mat-form-field>
        <p>Add a category</p>
        <mat-form-field appearance="fill">
          <mat-label>Category...</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="data.category"
            name="category"
          />
        </mat-form-field>
        <p>Add a description</p>
        <mat-form-field appearance="fill">
          <mat-label>Description...</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="data.description"
            name="description"
          />
        </mat-form-field>
      </form>
    </div>
    <div class="action-section" mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="data"
        cdkFocusInitial
        [disabled]="!form.valid"
        (click)="saveInformation(data.action)">
        {{ data.action }}
      </button>
    </div>
  </div>
</div>
