@import "assets/constants.scss";

.savings-expenses-modal {
  .toggle-button {
    display: flex;
    justify-content: center;
    margin-bottom: $distance-24;

    .mat-button-toggle {
      width: 200px;
    }

    .savings {
      font-size: $font-size-18;

      &.mat-button-toggle {
        border: 1px solid #2c5f2d;
        color: #2bae66ff;
      }

      &.mat-button-toggle-checked {
        background-color: #2bae66ff;
        color: white;
      }
    }

    .expenses {
      font-size: $font-size-18;

      &.mat-button-toggle {
        border: 1px solid #ba0020ff;
        color: #e94b3cff;
      }

      &.mat-button-toggle-checked {
        background-color: #e94b3cff;
        color: white;
      }
    }
  }

  .mat-form-field {
    width: 100%;
  }

  .action-section {
    display: flex;
    justify-content: space-between;
  }
}
