<div class="dashboard">
  <mat-accordion>
    <app-savings-expenses-expansion-table
      *ngIf="expenses.data?.length"
      [results]="expenses"
      [title]="'Expenses'"
      [hasExpensesChanged]="hasExpensesChanged"
      [hasSavingsChanged]="hasSavingsChanged"
    ></app-savings-expenses-expansion-table>

    <app-savings-expenses-expansion-table
      *ngIf="savings.data?.length"
      [results]="savings"
      [title]="'Savings'"
      [hasSavingsChanged]="hasSavingsChanged"
      [hasExpensesChanged]="hasExpensesChanged"
    ></app-savings-expenses-expansion-table>
  </mat-accordion>

  <div class="add-savings-expenses">
    <button
      class="add-button"
      mat-mini-fab
      color="primary"
      aria-label="Add button to add savings or expenses"
      (click)="openAddDialog()">
      <mat-icon class="plus-icon">add</mat-icon>
    </button>
  </div>
</div>
