@import "assets/constants.scss";

.dashboard {
  padding: 0 $distance-24 $distance-16;

  .details {
    margin-top: $distance-16;
  }

  .add-savings-expenses {
    position: fixed;
    bottom: $distance-72;
    right: $distance-72;

    .add-button {
      width: $distance-72;
      height: $distance-72;
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-icon {
        font-size: $font-size-40;
        height: $font-size-40;
        width: $font-size-40;
      }
    }
  }
}
